@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 2
   
   Author: KJ Klamer  
   Date: 04/22/2021      
   
   Filename: wc_styles.css

   This file contains the layout styles and media
   queries used with sample pages from the Willet
   Creek Golf Course website.

*/


/* Import Design Styles */
@import url("design.css");
/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 0px 15%;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
/**********************************/
/*********** Image Layout CSS **********/
/**********************************/
.main__img{
  height:45%;
  min-height: 320px;
  margin-bottom: 64px;
  border-radius: 12px;
  box-shadow: 3px 3px 10px -4px rgb(rgba(255, 0, 234, 0.644), green, blue);
  object-fit:cover;
}